[user]
  name = Andre Freitas
  email = andrecfreitas58@gmail.com

[rebase]
  updateRefs = true

[coderabbit]
  machineId = cli/7670d73af08f489b82f0d6c435ed0fab

[include]
  path = ~/.config/delta/.gitconfig
