[Unit]
Description=kanata
Requires=local-fs.target
After=local-fs.target

[Service]
ExecStartPre=/usr/bin/modprobe uinput
ExecStart=/usr/bin/kanata -c /home/andre/.config/kanata/home-row-mods.kbd
Restart=no

[Install]
WantedBy=multi-user.target
