[include]
  path = ~/.config/omarchy/current/theme/delta.gitconfig

[diff]
  colorMoved = default

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  paging = never
  line-numbers = true
  features = side-by-side current-theme

[merge]
  conflictStyle = zdiff3
